/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2021, 3:54:34 PM
    Author     : Vinayak
*/

*{
    box-sizing: border-box;
    max-width: 100%
}

body {
    font-family: "Roboto", sans-serif;
    background-color: hsl(225, 16%, 25%);
    margin: 50px 0;
}

.container{
    background-color: steelblue;
    color: cornsilk;
    text-align: center;
    width: 420px;
    margin: 0px auto;
    padding: 20px;
}
nav{
    border: 2px solid whitesmoke;
    border-radius: 4px;
    margin: 0 0 10px;
    font-size: 16px;
    padding: 10px 15px;
    display: inline-block;
    
}
.job a{
    font-size: 20px;
}
.job{
    text-align: left;
}
a{
    color: whitesmoke;
}
a:visited {
    text-decoration: none;
    color: orange;
}
a:hover{
    text-decoration: none;
    color: deeppink;
}
h2{
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 0;
}

input,
textarea {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 13px;
    border: 1px solid hsl(225, 16%, 15%);
    background-color: hsl(225, 16%, 25%);
    color: hsl(225, 16%, 75%);
    font-weight: 500;
}
input:focus,
textarea:focus {
    outline: none;
    border: 1px solid hsl(225, 16%, 75%);
    background-color: hsl(225, 16%, 45%);
    color: hsl(225, 16%, 95%);
}
input[type="submit"] {
    background-color: #3371ff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px auto 0;
    width: 50%;
    border: 3px solid hsl(225, 16%, 45%);
}
input[type="submit"]:hover {
    background-color: #1cba43;
    border: 3px solid hsl(225, 16%, 95%);
}
input[type="submit"]:active {
    outline: none;
    background-color: #941aba;
}
.error {
    margin: 0 0 5px;
    font-weight: bold;
    color: hsl(225, 16%, 75%);
}

@media only screen and (min-width: 768px) {
    .container {
        width: 728px;
    }
    form {
        width: 420px;
        margin: 0 auto;
    }
}

.pagination {
    font-size: 0;
    margin: 0 0 10px;
}
.pagination a {
    color: azure;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    background-color: gold;
    font-size: 16px;
}
.pagination a:hover {
    color: deeppink;
    background-color: goldenrod;
}
.pagination a.active {
    background-color: #ffcc66;
}

@media only screen and (min-width: 960px) {
    .container {
        width: 920px;
    }
    form {
        width: 500px;
    }
    .column {
        width: 49%;
        float: left;
    }
    .one {
        margin-right: 1%;
    }
    .two {
        margin-left: 1%;
    }
}